<p>こんにちは<%= @email %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを次のとおり変更してもよろしいでしょうか <%= @resource.unconfirmed_email %></p>
<% else %>
  <p>メールアドレスを次のとおり変更いたしました <%= @resource.email %>.</p>
<% end %>
