<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワードの変更が申請されました。下記リンクから実施してください</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>あなたが希望していない場合、本メールを無視して構いません</p>
<p>あなたのパスワードは上記リンクをクリックして、新しいパスワードを決めない限り変更されません</p>
