<p>こんにちは <%= @resource.email %>さん!</p>

<p>あなたのアカウントはログイン試行数が一定数を超えたため、ロックされました</p>

<p>リンクをクリックして、ロックを解除してください</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
